body{
  background-color: #d6e2f0;
}
.search-container {


  float: right;
  
}

.search-container  input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
/* .slideShow{
  padding-bottom:1%;
  padding-top: 1%;
} */

.flex-container{

  width: 95%;
  height: auto;

  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;

}


.episodes-card{

  background-color: #fbf7e0 ;
  width: 25%;
  height: 400px;
  margin: 20px;
  padding:5px;

  box-sizing: border-box;
  border-style: outset;
  border-radius: 5px;
  
}

.episodes-.episodes-card{

  border-style: groove;

}

@media screen and (max-width:1200px){
  .episodes-card{
    width: 40%;
  }
}
@media screen and (max-width:768px){
  .episodes-card{
    height: 420px;
  }
}
@media screen and (max-width: 600px){
  .episodes-card{
    width: 70%;
  }
}