body{
  background-color: #d6e2f0;
}
.search-container {


  /* float: right; */
  display: flex;
  justify-content: space-around;
  
}

#episode-select{
  padding: 6px;
  margin-top: 8px;
  font-size: 15px;
  height: 30px;
  border: none;

}

.search-container  input[type=text] {

  /* float: right; */
  padding: 6px;
  margin-top: 8px;
  /* margin-left: 100px; */
  font-size: 17px;
  border: none;
}


.flex-container{

  width: 95%;
  height: auto;

  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;

}

.flex-container img{
  width: 100%;
}


.episodes-card{

  background-color: #fbf7e0 ;
  width: 25%;
  height: 450px;
  margin: 20px;
  padding:5px;

  box-sizing: border-box;
  border-style: outset;
  border-radius: 5px;
  
}

.episodes-card :hover{

  /* border-style: groove; */
  background-color: #ece5bd ;

}

@media screen and (max-width:1200px){
  .episodes-card{
    width: 40%;
  }
}
/* @media screen and (max-width:768px){
  .episodes-card{
    /* height: 450px; 
  } 
} */
@media screen and (max-width: 720px){
  .episodes-card{
    width: 70%;
  }
  .search-container{
    flex-direction: column;
  }
}